<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/DX/css/dx.common.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DX/css/dx.light.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing:border-box;
        }
        .body-wrapp{
            width:100vw;

        }
        .body-wrapp .sidemenu {
            font-size: 22px;
            padding: 15px;
            width:20%;
        }

        .sidemenu > div > p {
            text-decoration: none;
        }
        .body-wrapp .renderWrapp {
            width: 80%;
        }
        .a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    @{ if (User.Identity.IsAuthenticated)
        {
            <nav class=" navbar navbar-light bg-dark">
                <div class="container-fluid">
                    <h1>
                        @Html.ActionLink("Transport Log", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand text-secondary" })
                    </h1>
                    <div class="user-nav">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>
            <div class="content-container float-start d-flex min-vh-100 body-wrapp" height="min-height:100vh;" width="100vw;" >
                <div class="content-container  d-flex bg-dark pt-4 sidemenu" height="100%;">
                    <div class="pt-4 sidenav bg-dark">
                        <p class="">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "text-decoration-none" }) </p>
                    
                        @if(User.IsInRole("admin")) {
                             <p class="">@Html.ActionLink("User Management", "Index", "UserManagement", routeValues: null, htmlAttributes: new { @class = "text-decoration-none" }) </p>
                        }
                        <p class="navlink"> @Html.ActionLink("Customers", "Index", "Customer", routeValues: null, htmlAttributes: new { @class = "text-decoration-none" })  </p>
                        <p class="navlink">@Html.ActionLink("Transport Status", "Index", "Status", routeValues: null, htmlAttributes: new { @class = "text-decoration-none" }) </p>
                        <p class="navlink"> @Html.ActionLink("Docks", "Index", "Dock", routeValues: null, htmlAttributes: new { @class = "text-decoration-none" }) </p>
                    </div>
                        @{
                            @*if (HttpContext.Current.User.IsInRole("admin"))
                            {
                                <div class="accordion d-none" id="navLinksAccordion">
                                    <div class="accordion-item bg-dark border-0 navlink">
                                        <p class="accordion-header" id="userManagement">
                                            <a class="accordion-button bg-dark collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                User Management
                                            </a>
                                        </p>
                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="userManagement" data-bs-parent="#navLinksAccordion">
                                            <div class="accordion-body">
                                                @Html.ActionLink("Home", "Index", "Home")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item bg-dark border-0 navlink">
                                        <p class="accordion-header" id="stockManagement">
                                            <a class="accordion-button bg-dark collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                Stock Management
                                            </a>
                                        </p>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="stockManagement" data-bs-parent="#navLinksAccordion">
                                            <div class="accordion-body">
                                                @Html.ActionLink("Home", "Index", "Home")
                                                @Html.ActionLink("Home", "Index", "Home")
                                                @Html.ActionLink("Home", "Index", "Home")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item bg-dark border-0 navlink">
                                        <p class="accordion-header" id="tenderManagement">
                                            <a class="accordion-button bg-dark collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                Tender Management
                                            </a>
                                        </p>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="tenderManagement" data-bs-parent="#navLinksAccordion">
                                            <div class="accordion-body">
                                                @Html.ActionLink("Home", "Index", "Home")
                                            </div>
                                        </div>
                                    </div>
                                    <p class="navlink">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </p>
                                </div>
                            }*@
                        }
                 

                </div>
                <div class="container pt-5 renderWrapp ">
                    @RenderBody()
                </div>
            </div>
                }
                else
                       {
                     <div class="container body-content">
                         @RenderBody()
                         <hr />
                         <footer>
                             <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                         </footer>
                     </div>
                    }
                }

                @Scripts.Render("~/bundles/jquery")
                @RenderSection("scripts", required: false)

                <script src="~/Content/DX/js/dx.all.js"></script>
                <script src="~/Content/DX/js/knockout-3.4.0.js"></script>
                <script src="~/Content/DX/js/jszip.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        </body>
</html>
